/* -----------------------------------------------------------------------------
// 6. Contact Page 
// ----------------------------------------------------------------------------- */

//
// Table of content
// -----------------------------------------------------------------------------
// - Section Headline
// - Header
// - Section 1 - Contact Map
// - Section 2 - Contact


//
// Contact Page
// --------------------------------------------------
.contact-page {

// Header
// --------------------------------------------------
    header {
        // small fix to not collapse with the map
        z-index: 100; 
    }


// Section 1 - Contact Map
// --------------------------------------------------
    .contact-map {
        position: relative;
        height: 400px;
        width: 100%;
        background: url(http://placehold.it/1895x500) center center;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


// Section 2 - Contact
// --------------------------------------------------
    .contact {
        text-align: center;

        h2 {
            margin-bottom: 30px;
            font-weight: 800;
            text-transform: uppercase;

            & + p {
                margin-bottom: 50px;
            }
        }

        .form-control {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 13px;
        }

        .btn {
            margin-top: 20px;
        }
    }
}








